.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
.gitignore
node_modules/**
out/**
test/**
*.vsix
.github/**
docs/**
*.md
!README.md
!CHANGELOG.md
!LICENSE
webpack.config.js
tsconfig.json
.eslintrc.json
.prettierrc
create-icon.js
resources/icon.svg
src/**
!dist/**